<form [formGroup]="patientForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="patient-card">
    <mat-card-header>
      <mat-card-title>Neuer Patient</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Vorname" formControlName="firstName">
            <mat-error *ngIf="patientForm.controls['firstName'].hasError('required')">
              Der Vorname ist <strong>erforderlich</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nachname" formControlName="lastName">
            <mat-error *ngIf="patientForm.controls['lastName'].hasError('required')">
              Der Nachname ist <strong>erforderlich</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Adresse" formControlName="address"></textarea>
            <mat-error *ngIf="patientForm.controls['address'].hasError('required')">
              Die Addresse ist <strong>erforderlich</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Stadt" formControlName="city">
            <mat-error *ngIf="patientForm.controls['city'].hasError('required')">
              Die Stadt ist <strong>erforderlich</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #postalCode maxlength="5" placeholder="Postleitzahl" type="number" formControlName="postalCode">
            <mat-hint >{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Telefonnummer" type="tel" formControlName="telefone">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="E-Mail Adresse" type="email" formControlName="email">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Beschreibung" formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions >
      <button mat-raised-button color="primary" type="submit">Erstellen</button>
      <button mat-raised-button color="secondary" type="reset">Felder zurücksetzen</button>
    </mat-card-actions>
  </mat-card>
</form>
